In [2]:
import pandas as pd

In [6]:
df=pd.read_csv('data/ner_dataset.csv',encoding = 'unicode_escape',header=None)

In [14]:
df[0].isnull().sum()

1000616

In [15]:
df

                       0              1    2      3
0            Sentence: 1      Thousands  NNS      O
1                    NaN             of   IN      O
2                    NaN  demonstrators  NNS      O
3                    NaN           have  VBP      O
4                    NaN        marched  VBN      O
5                    NaN        through   IN      O
6                    NaN         London  NNP  B-geo
7                    NaN             to   TO      O
8                    NaN        protest   VB      O
9                    NaN            the   DT      O
10                   NaN            war   NN      O
11                   NaN             in   IN      O
12                   NaN           Iraq  NNP  B-geo
13                   NaN            and   CC      O
14                   NaN         demand   VB      O
15                   NaN            the   DT      O
16                   NaN     withdrawal   NN      O
17                   NaN             of   IN      O
18                   NaN        British   JJ  B-gpe
19                   NaN         troops  NNS      O
20                   NaN           from   IN      O
21                   NaN           that   DT      O
22                   NaN        country   NN      O
23                   NaN              .    .      O
24           Sentence: 2       Families  NNS      O
25                   NaN             of   IN      O
26                   NaN       soldiers  NNS      O
27                   NaN         killed  VBN      O
28                   NaN             in   IN      O
29                   NaN            the   DT      O
...                  ...            ...  ...    ...
1048545  Sentence: 47957            Two   CD      O
1048546              NaN           more  JJR      O
1048547              NaN         landed  VBD      O
1048548              NaN             in   IN      O
1048549              NaN         fields  NNS      O
1048550              NaN      belonging  VBG      O
1048551              NaN             to   TO      O
1048552              NaN              a   DT      O
1048553              NaN         nearby   JJ      O
1048554              NaN        village   NN      O
1048555              NaN              .    .      O
1048556  Sentence: 47958           They  PRP      O
1048557              NaN            say  VBP      O
1048558              NaN            not   RB      O
1048559              NaN            all   DT      O
1048560              NaN             of   IN      O
1048561              NaN            the   DT      O
1048562              NaN        rockets  NNS      O
1048563              NaN       exploded  VBD      O
1048564              NaN           upon   IN      O
1048565              NaN         impact   NN      O
1048566              NaN              .    .      O
1048567  Sentence: 47959         Indian   JJ  B-gpe
1048568              NaN         forces  NNS      O
1048569              NaN           said  VBD      O
1048570              NaN           they  PRP      O
1048571              NaN      responded  VBD      O
1048572              NaN             to   TO      O
1048573              NaN            the   DT      O
1048574              NaN         attack   NN      O

[1048575 rows x 4 columns]